.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 40px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.dark-theme {
  background-color: #333;
  color: #fff;
}

.light-theme {
  background-color: #fff;
  color: #333;
}

body {
  margin: 0;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.app {
  padding: 20px;
}

h1 {
  margin: 0;
  display: block;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.avatar {
  display: block;
}

.search {
  display: flex;
  justify-content: center;
}

.search-input {
  width: 300px;
}

.theme-toggler {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.card {
  margin-top: 20px;
}

.movie-page {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.links {
  display: flex;
  justify-content: center;
}

.link {
  margin: 0 10px;
  text-decoration: none;
  color: gray;
}

.genres {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.genre {
  font-size: 20px;
  padding: 0;
  margin: 10px;
}

.genre a {
  margin: 0px;
}